@import "@/mixins.scss";

.section-title {
  font-weight: 900;

  @include media-breakpoint-down(sm) {
    font-size: 28px;
    margin-bottom: 20px;
  }

  @include media-breakpoint-between(sm, lg) {
    font-size: 32px;
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 48px;
    margin-bottom: 40px;
  }
}
