.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__img-wrapper {
    width: 100%;
    height: 800px;
    position: relative;
    animation: 1s infinite alternate bounce;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: contain;
    }
  }

  &__title {
    font-size: 72px;
  }

  @keyframes bounce {
    from {
      transform: translateY(0px);
    }

    to {
      transform: translateY(20px);
    }
  }
}
