@import "@/mixins.scss";

.top-products {
  &__items {
    display: grid;
    gap: 40px;

    @include media-breakpoint-between(sm, lg) {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    @include media-breakpoint-up(lg) {
      gap: 20px;

      grid-template-columns: repeat(4, 1fr);
    }
  }
}
