@import "@/mixins.scss";

.category {
  &__items {
    display: grid;
    gap: 20px;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;

    @include media-breakpoint-down(sm) {
      height: 180px;
    }

    @include media-breakpoint-between(sm, lg) {
      height: 260px;
    }

    @include media-breakpoint-up(lg) {
      height: 500px;
    }

    border-radius: 15px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(2px) brightness(0.5);
      transition: 0.2s ease;
    }

    &:hover {
      img {
        filter: blur(2px) brightness(0.2);
      }
    }
  }

  &__item-name {
    position: absolute;
    color: white;
    font-weight: 900;
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }

    @include media-breakpoint-between(md, lg) {
      font-size: 24px;
    }

    @include media-breakpoint-between(lg, xl) {
      font-size: 32px;
    }

    @include media-breakpoint-between(xl, xxl) {
      font-size: 46px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 58px;
    }
  }
}
